<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <meta name="description" content="ButterCup is a customizable menstrual cup that is made to fit your specific needs">
        <link rel="stylesheet" href="view/style/style.css">
        <title>ButterCup</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #e3fde5;">
                <a class="navbar-brand" href="view/home.twig">ButterCup</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="view/faq.twig">FAQ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="features.twig">Features
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <a class="nav-link" href="view/build.twig">Build <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tools" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
                        <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                        </svg>
                        <span class="sr-only">(current)</span>
                    </a>
                </div>
            </nav>
        </header>
        <main class="container">
            <div class="container p-lg-5">
                <div class="py-5 text-center">
                    <h2>Get Your Free Quote Below!</h2>
                </div>

                <h3 class="mb-3">Tell us how you flow</h3>
                <form class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="flow">Flow</label>
                            <select class="custom-select d-block w-100" id="flow" required="">
                                <option value="">Choose...</option>
                                <option>Light</option>
                                <option>Regular</option>
                                <option>Heavy</option>
                                <option>Very Heavy</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid flow.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cervix">Cervical Length</label>
                            <select class="custom-select d-block w-100" id="cervix" required="">
                                <option value="">Choose...</option>
                                <option>Extra Short</option>
                                <option>Short</option>
                                <option>Average</option>
                                <option>Long</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid cervical length.
                            </div>
                        </div>
                    </div>

                    <hr class="mb-4">

                    <h3 class="mb-3">Customize Your Cup</h3>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="color"> Cup Color</label>
                            <select class="custom-select d-block w-100" id="color" required="">
                                <option value="">Choose...</option>
                                <option>Pink</option>
                                <option>Red</option>
                                <option>Green</option>
                                <option>Blue</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid color.
                            </div>
                        </div>

                        <div class="form-group col-md-4 mb-3">
                            <label for="string">String Design</label>
                            <select class="form-control" id="string" required="">
                                <option value="">Choose...</option>
                                <option>Long heart</option>
                                <option>Short heart</option>
                                <option>Long loop</option>
                                <option>Short loop</option>
                                <option>Plain string</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid string design.
                            </div>
                        </div>
                    </div>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="noPattern" name="pattern" type="radio" class="custom-control-input" checked="" required="">
                            <label class="custom-control-label" for="noPattern">None</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input id="polkaDots" name="pattern" type="radio" class="custom-control-input" checked="" required="">
                            <label class="custom-control-label" for="polkaDots">Polka-Dots</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input id="stripes" name="pattern" type="radio" class="custom-control-input" checked="" required="">
                            <label class="custom-control-label" for="stripes">Stripes</label>
                        </div>
                    </div>

                    <hr class="mb-4">

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="accessory">
                        <label class="custom-control-label" for="accessory">Check if you would like a cup-carrying pouch</label>
                    </div>

                    <hr class="mb-4">

                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com" required="">
                    <div class="invalid-feedback">
                        Please enter a valid email address for updates on when this product releases.
                    </div>

                    <hr class="mb-4">

                    <div id="price-result" class="display-none text-center text-muted p-lg-5">
                        <h3>Total (USD): </h3>
                        &nbsp;
                        <h3 id="total-value">""
                        </h3>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Click to get pricing information</button>
                </form>
            </div>
        </main>

        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">
                    &copy; ButterCup
                </span>
                <br>
                <p>DISCLAIMER: THIS PAGE IS NOT A PUBLICATION OF THE UNIVERSITY OF WEST GEORGIA AND THE UNIVERSITY OF WEST GEORGIA HAS NOT EDITED OR EXAMINED THE CONTENT. THE AUTHOR(S) OF THE PAGE ARE SOLELY RESPONSIBLE FOR THE CONTENT</p>
            </div>
        </footer>

        <script src="purchase.js"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>

</html>

