{{ include('shared/header.twig') }}

<main class="container">
    <div class="container p-lg-5">
        <div class="py-5 text-center">
            <h2>Get Your Free Quote Below!</h2>
        </div>

        <h3 class="mb-3">Tell us how you flow</h3>
        <form class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="flow">Flow</label>
                    <select class="custom-select d-block w-100" id="flow" required="">
                        <option value="">Choose...</option>
                        <option>Light</option>
                        <option>Regular</option>
                        <option>Heavy</option>
                        <option>Very Heavy</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid flow.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="cervix">Cervical Length</label>
                    <select class="custom-select d-block w-100" id="cervix" required="">
                        <option value="">Choose...</option>
                        <option>Extra Short</option>
                        <option>Short</option>
                        <option>Average</option>
                        <option>Long</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid cervical length.
                    </div>
                </div>
            </div>

            <hr class="mb-4">

            <h3 class="mb-3">Customize Your Cup</h3>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="color"> Cup Color</label>
                    <select class="custom-select d-block w-100" id="color" required="">
                        <option value="">Choose...</option>
                        <option>Pink</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid color.
                    </div>
                </div>

                <div class="form-group col-md-4 mb-3">
                    <label for="string">String Design</label>
                    <select class="form-control" id="string" required="">
                        <option value="">Choose...</option>
                        <option>Long heart</option>
                        <option>Short heart</option>
                        <option>Long loop</option>
                        <option>Short loop</option>
                        <option>Plain string</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid string design.
                    </div>
                </div>
            </div>

            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="noPattern" name="pattern" type="radio" class="custom-control-input" checked="" required="">
                    <label class="custom-control-label" for="noPattern">None</label>
                </div>

                <div class="custom-control custom-radio">
                    <input id="polkaDots" name="pattern" type="radio" class="custom-control-input" checked="" required="">
                    <label class="custom-control-label" for="polkaDots">Polka-Dots</label>
                </div>

                <div class="custom-control custom-radio">
                    <input id="stripes" name="pattern" type="radio" class="custom-control-input" checked="" required="">
                    <label class="custom-control-label" for="stripes">Stripes</label>
                </div>
            </div>

            <hr class="mb-4">

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="accessory">
                <label class="custom-control-label" for="accessory">Check if you would like a cup-carrying pouch</label>
            </div>

            <hr class="mb-4">

            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" required="">
            <div class="invalid-feedback">
                Please enter a valid email address for updates on when this product releases.
            </div>

            <hr class="mb-4">

            <div id="price-result" class="display-none text-center text-muted p-lg-5">
                <h3>Total (USD): </h3>
                &nbsp;
                <h3 id="total-value">""
                </h3>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Click to get pricing information</button>
        </form>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
            &copy; ButterCup
        </span>
        <br>
        <p>DISCLAIMER: THIS PAGE IS NOT A PUBLICATION OF THE UNIVERSITY OF WEST GEORGIA AND THE UNIVERSITY OF WEST GEORGIA HAS NOT EDITED OR EXAMINED THE CONTENT. THE AUTHOR(S) OF THE PAGE ARE SOLELY RESPONSIBLE FOR THE CONTENT</p>
    </div>

    {{ include('shared/footer.twig') }}

