{{ include('shared/header.twig') }}
<main class="container p-lg-5">
    <div class="py-3">
        <h1 class="text-center py-5 p-lg-5">What We Offer</h1>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Free Consultation</h5>
                    <p class="card-text">Information about what to expect and how to set up an appointment. Followed by more contact information.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Build-Your-Cup</h5>
                    <p class="card-text">More information about how to build your cup.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recycling</h5>
                    <p class="card-text">Information on when and how to recycle your cup with us once you are done with your product.</p>
                </div>
            </div>
        </div>
    </div>
</main>
{{ include('shared/footer.twig') }}

